<!doctype html>
<head>
	<meta charset="utf-8">

	<title>NodeStalker</title>

	<meta name="description" content="Node client to stalk your filesystem, even when you're not aware of it.">
	<meta name="keywords" content="">

	<link rel="stylesheet" href="{{ siteurl }}/assets/css/reset.css">
	<link rel="stylesheet" href="{{ siteurl }}/assets/css/core.css">

	<script src="{{ siteurl }}/assets/js/libs/modernizr.custom.97357.js" async defer></script>

</head>
<body>

	<div id="wrapper">

		<section id="details">

		</section>

		<section id="terminals">
			<article class="terminal" data-os="uptime">
				<header class="p-title">
					<h2>Uptime</h2>
				</header>
				<div class="p-output">
					<span data-output="main"></span>
				</div>
				<footer data-output="raw" class="p-meta">

				</footer>
			</article>

			<article class="terminal" data-os="freemem">
				<header class="p-title">
					<h2>Free Memory</h2>
				</header>
				<div class="p-output">
					<span data-output="main"></span>
					<div data-bar="total" class="bar-graph">
						<div data-bar="free" class="bar">

						</div>
					</div>
				</div>
				<footer data-output="raw" class="p-meta">

				</footer>
			</article>

			<article class="terminal" data-os="loadavg">
				<header class="p-title">
					<h2>Load Average</h2>
				</header>
				<div class="p-output">
					<ul data-output="main"></ul>
				</div>
				<footer class="p-meta">
					<ul data-output="raw">
					</ul>
				</footer>
			</article>
		</section>

		<section id="logs">

			<article class="log" data-log="apacheErr">
				<header class="log-title">
					<h2>Apache Errors</h2>
				</header>
				<div class="log-output">
					<div data-output="main"></sdiv>
				</div>
			</article>

		</section>

	</div> <!-- #wrapper -->

	<script src="/socket.io/socket.io.js"></script>
	<script>
		var App = {
			socket: io.connect('{{ basePath }}'),
			basePath: '{{ basePath }}',
			siteUrl: '{{ siteurl }}'
		};

	</script>
	<script src="{{ siteurl }}/assets/js/script.js"></script>

</body>
</html>
