<!doctype html>
<head>
	<meta charset="utf-8">

	<title>NodeStalker</title>

	<meta name="description" content="Node client to stalk your filesystem, even when you're not aware of it.">
	<meta name="keywords" content="">

	<link rel="stylesheet" href="{{ siteurl }}/assets/css/reset.css">
	<link rel="stylesheet" href="{{ siteurl }}/assets/css/core.css">

	<script src="{{ siteurl }}/assets/js/libs/modernizr.custom.97357.js" async defer></script>

</head>
<body>

	<div id="wrapper">

		<section class="p-box" data-os="uptime">
			<header class="p-title">
				<h2>Uptime</h2>
			</header>
			<div class="p-output">
				<span data-output="main"></span>
			</div>
			<footer data-output="raw" class="p-meta">

			</footer>
		</section>

		<section class="p-box" data-os="freemem">
			<header class="p-title">
				<h2>Free Memory</h2>
			</header>
			<div class="p-output">
				<span data-output="main"></span>
			</div>
			<footer data-output="raw" class="p-meta">

			</footer>
		</section>

		<section class="p-box" data-os="loadavg">
			<header class="p-title">
				<h2>Load Average</h2>
			</header>
			<div class="p-output">
				<span data-output="main"></span>
			</div>
			<footer data-output="raw" class="p-meta">

			</footer>
		</section>


	</div> <!-- #wrapper -->

	<script src="/socket.io/socket.io.js"></script>
	<script>
		var App = {
			socket: io.connect('{{ basePath }}'),
			basePath: '{{ basePath }}',
			siteUrl: '{{ siteurl }}'
		};

	</script>
	<script src="{{ siteurl }}/assets/js/script.js"></script>

</body>
</html>
